.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Page {
  padding: 16px;
}

.Body {
  background-color: #e3f2fd;
  display: flex;
  flex-direction: column;
}
